.membersPanel{
  font: 12px Helvetica, Arial, sans-serif;
  overflow-y: auto;
}
.membersPanel input {
    margin: 0.3rem;
    /*padding-bottom: 1rem;
    border-bottom: 3px solid black;*/
}

.membersPanel .memberEl,
.membersPanel .categoryName {
    padding: 0.5rem;
    margin: 0;
    display: block;
}
.membersPanel .categoryName {
    padding: 0.0rem;
    margin: 0;
    display: block;
}


.membersPanel .memberEl:hover:not(.selected),
.membersPanel .categoryName:hover:not(.selected){
    background-color: lightblue;
}

.membersPanel button{
    float: right;
    margin-top:0.3em;
    margin-right:0.5rem;
    vertical-align: middle;
}

.membersPanel .categoryName > div>* {
    display: inline;
}
.membersPanel .categoryName > div{
    padding: 0.5rem;
    display: inline-block;
}

.membersPanel .categoryName > div:hover {
    background: rgb(200, 230,245);
}

.membersPanel .memberEl{
    padding-left: 2.4rem;
}

.membersPanel .selected{
    background-color: darkcyan;
}

.membersPanel .categoryName{
    padding-left: 1rem;
}


.membersPanel .categoryName p{
    padding-left: 0.2rem;
}


.matched_text{
    background-color: lightblue;
}